@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}
.comments-container::before{
    position: absolute;
    display: block;
    top: 0;
    left: -39px;
    content:"";
    width: 3px;
    height: 100%;
    /* background-color: theme('colors.gray-background'); */
    background-color: #edf0f5;
    /* opacity: .07; */
}
.comment-container::before{
    position: absolute;
    display: block;
    top: 57px;
    content: "";
    width: 23px;
    height: 3px;
    background-color: #edf0f5;
    /* background-color: theme('colors.gray-background'); */
    left: -38px;
    /* opacity: .07; */
}

.comment-container:last-child::after{
    position: absolute;
    display: block;
    top: 60px;
    left: -39px;
    content: "";
    width: 3px;
    height: calc(100% - 60px);
    background: theme('colors.gray-background');
    /* background-color: #fff; */

}
.is-status-update::before{
    position: absolute;
    width:38px;
    height: 38px;
    border-radius: 38px;
    border: 7px solid white;
    box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
    left: -58px;
    background-color: theme('colors.purple');
    opacity: 1;
    z-index: 1;
}
.is-status-update{
    border-width: 1px;
    border-image-source: linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.status-open, .status-open:before{
    @apply bg-gray-200;
}

.status-considering, .status-considering:before {
    @apply text-white bg-purple;
}

.status-in-progress, .status-in-progress:before {
    @apply text-white bg-yellow;
}

.status-implemented, .status-implemented:before {
    @apply text-white bg-green;
}

.status-closed, .status-closed:before {
    @apply text-white bg-red;
}